.count {
  display: flex;
  flex-direction: column;
  &__buttonsConteiner {
    padding-bottom: 10%;
    &__buttons {
      font-family: "Antonio", sans-serif;
      font-size: 25px;
      background: #fff; /* color de fondo */
      color: black; /* color de fuente */
      border: 2px solid black; /* tamaño y color de borde */
      padding: 5px 10px;
      border-radius: 3px; /* redondear bordes */
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      width: 19%;
    }
  }
  &__agregar {
    margin-right: 3%;
    font-family: "Antonio", sans-serif;
    letter-spacing: 3px;
    background: #fff; /* color de fondo */
    color: black; /* color de fuente */
    border: 2px solid black; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 41%;

    &:hover {
      color: #fff;
      &::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }
    }
    &::after {
      content: "";
      background: black; /* color de fondo hover */
      position: absolute;
      z-index: -1;
      padding: 16px 20px;
      display: block;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 100%;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
    }
  }
}
