.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black; }
  .footer__img {
    width: 15%;
    margin: 3%; }
  .footer__contacto {
    display: flex;
    flex-direction: row !important;
    align-items: center; }
    .footer__contacto__tituloFooter {
      color: white;
      font-family: "Antonio", sans-serif;
      letter-spacing: 3px; }
    .footer__contacto__redes {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .footer__contacto__redes__link {
        text-decoration: none;
        color: white; }
