.products {
  width: 100%;
  display: flex; }
  .products__main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .products__main .card {
      width: 27%; }
  .products__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%; }
    .products__aside__search {
      margin: 5% 0%;
      width: 80%;
      display: inline-block; }
      .products__aside__search h1 {
        pointer-events: none;
        margin-bottom: 5%;
        color: black;
        font-size: 1em;
        font-weight: bold; }
      .products__aside__search input {
        display: inline-block;
        padding: 8px;
        font-size: 12px;
        border: 1px solid #ccc;
        width: 100%; }
    .products__aside__title {
      margin: 5% 0%;
      display: inline-block;
      width: 80%;
      text-align: left; }
    .products__aside__list {
      margin: 5% 0%;
      width: 80%;
      list-style: none;
      text-align: left;
      display: inline-block; }
      .products__aside__list .active {
        pointer-events: none;
        margin-bottom: 5%;
        color: black;
        font-size: medium;
        font-weight: bold; }
      .products__aside__list li {
        font-size: smaller;
        color: #838383;
        padding: 2% 0%; }
        .products__aside__list li:hover {
          color: #2c2c2c;
          text-decoration: underline; }
    .products__aside__range {
      margin: 5% 0%;
      width: 80%;
      display: inline-block; }
      .products__aside__range h1 {
        pointer-events: none;
        margin-bottom: 5%;
        color: black;
        font-size: 1em;
        font-weight: bold; }
      .products__aside__range input {
        display: inline-block;
        padding: 8px;
        font-size: 12px;
        border: 1px solid #ccc;
        width: 45%; }
